#play-button {
	width: 100px;
	height: 100px;
	background: url('../images/img.png') -10px -10px;
	margin: 0 auto;
}

#subscribe-btn {
	width: 25px;
	height: 25px;
	background: url('../images/img.png') -270px -174px;
}

#instagram {
	width: 35px;
	height: 35px;
	background: url('../images/img.png') -200px -142px;
}

#phone {
	width: 17px;
	height: 17px;
	background: url('../images/img.png') -270px -219px;
}

#right-arrow {
	width: 8px;
	height: 13px;
	background: url('../images/img.png') -164px -80px;
}

#monitor {
	width: 49px;
	height: 50px;
	background: url('../images/img.png') -10px -130px;
}

#twitter {
	width: 35px;
	height: 35px;
	background: url('../images/img.png') -58px -200px;
}

#SEO {
	width: 50px;
	height: 50px;
	background: url('../images/img.png') -130px -10px;
}

#youtube {
	width: 35px;
	height: 35px;
	background: url('../images/img.png') -113px -200px;
}

#dribbble {
	width: 35px;
	height: 35px;
	background: url('../images/img.png') -168px -200px;
}

#facebook {
	width: 35px;
	height: 35px;
	background: url('../images/img.png') -270px -10px;
}

#google {
	width: 35px;
	height: 35px;
	background: url('../images/img.png') -270px -65px;
}

#BRANDING {
	width: 50px;
	height: 42px;
	background: url('../images/img.png') -200px -10px;
}

#GAME {
	width: 41px;
	height: 50px;
	background: url('../images/img.png') -200px -72px;
}

#location {
	width: 14px;
	height: 19px;
	background: url('../images/img.png') -130px -80px;
}

#logo {
	width: 30px;
	height: 34px;
	background: url('../images/img.png') -270px -120px;
}

#LOVE {
	width: 50px;
	height: 46px;
	background: url('../images/img.png') -79px -130px;
}

#MOBILE {
	width: 28px;
	height: 50px;
	background: url('../images/img.png') -10px -200px;
}