/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:300,700,900|Roboto:100,400,900&display=swap');

/* Customisation */
@import 'base/_variables';

/* Bootstrap */
@import 'node_modules/bootstrap/scss/bootstrap';

@import 'base/_colors';

body {
	background-color: $color-purple;
}

.playfair-font {
	font-family: 'Playfair Display', sans-serif;
}

.p-small {
	font-size: 14px;
}

.bg-light {
	background-color: white;
}

.grey-text {
	color: $color-grey;
}

.font-weight-black {
	font-weight: 900;
}

.font-size-100 {
	font-size: 100px;
}

.text-decoration-none a:hover {
	text-decoration: none;
}


@media(max-width: 768px) {
	.margin-auto {
		margin: auto;
	}
}

@media(max-width: 356px) {
	#right-arrow {
		display: none;
	}
}

@import 'modules/_navbar';
@import 'modules/_hero';
@import 'modules/_video';
@import 'modules/_teams';
@import 'modules/_works';
@import 'modules/_testimonials';
@import 'modules/_contact';
@import 'modules/_about';
@import 'modules/_footer';

@import 'modules/_sprite';
@import 'modules/_separators';
@import 'modules/_layout';
@import 'modules/_icons';
