$separator-style: 1px solid;
$separator-color: #c6c4c9;

hr {
	border-color: #00e0d0;
	width: 50px;
}

.separator__bottom {
	border-bottom: $separator-style $separator-color;

	@media (max-width: 35.9375rem) {
		&--sm {
			border-bottom: $separator-style $separator-color;
		}
	}

	@media (max-width: 61.9375rem) {
		&--md {
			border-bottom: $separator-style $separator-color;
		}
	}
}

.separator__right {
	@media (min-width: 36rem) and (max-width: 61.9375rem) {
		&--md {
			border-right: $separator-style $separator-color;
		}
	}

	@media (min-width: 62rem) {
		&--lg {
			border-right: $separator-style $separator-color;
		}
	}
}

.grey-hr {
	border: 1px solid $separator-color;
}
