$separator-style: 1px solid;
$separator-color: #c6c4c9;

.separator-bottom {
	border-bottom: $separator-style $separator-color;
}

@media (max-width: 35.9375rem) {
	.separator-bottom-s {
		border-bottom: $separator-style $separator-color;
	}
}

@media (max-width: 61.9375rem) {
	.separator-bottom-m {
		border-bottom: $separator-style $separator-color;
	}
}

@media (min-width: 36rem) and (max-width: 61.9375rem) {
	.separator-right-m {
		border-right: $separator-style $separator-color;
	}
}

@media (min-width: 62rem) {
	.separator-right-h {
		border-right: $separator-style $separator-color;
	}
}

@media (min-width: 62rem) {
	.separator-right-h {
		border-right: $separator-style $separator-color;
	}
}