.watch-video {
	background: $color-purple-2 url('/assets/images/backdrop.png') no-repeat center center/cover;
	height: 70vh;
}

.play-video:hover {
	cursor: pointer;
}

.watch-story {
	font-weight: 800;
	color: white;
}
